.signin-sidebar {
  height: 100%;
  background-color: var(--main-point);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5rem 3rem 5rem 3rem;
  min-width: 450px;

  @media screen and (max-width: 1040px) {
    display: none;
  }

  @media screen and (max-height: 814px) {
    padding: 5rem 3rem 5rem 3rem;
  }

  @media screen and (max-height: 768px) {
    padding: 5rem 3rem 5rem 3rem;
  }

  &-header {
    padding-right: 2rem;

    &-logo {
      width: 11rem;
      height: auto;
    }

    &-content {
      padding-top: 4rem;

      &-title {
        font-weight: bold;
        font-size: 2.125rem;
        color: var(--main-point-0);
      }

      &-subtitle {
        font-weight: normal;
        font-size: 1.125rem;
        color: var(--main-point-0);
        margin-top: 1rem;
      }
    }
  }

  &-picture {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    &-image {
      max-width: 14rem;
      height: auto;

      @media screen and (max-height: 680px) {
        display: none;
      }
    }
  }
}
