@import "../../../styles/animations.scss";

.insert-email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  @include fade-in-up(7rem, 0rem);

  &-text {
    &-title {
      font-size: 2.2rem;
      font-weight: bold;
      color: var(--main-point);
      margin-bottom: 0.6rem;
      padding-right: 1rem;
    }

    &-subtitle {
      font-size: 1.125rem;
      font-weight: normal;
      color: var(--main-point-2);
    }
  }

  &-input {
    width: 100%;
    margin-top: 2rem;
  }

  &-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;

    &-submit {
      cursor: pointer;
      outline: none;
      border: none;
      background-color: var(--main-point-1);
      padding: 0.6rem;
      border-radius: 0.6rem;

      &:hover {
        background-color: var(--main-point-2);
      }

      &:hover > &-icon {
        @include floating-side(-0.1rem, 0.1rem);
      }

      &-icon {
        font-size: 2.4rem;
        color: var(--main-point-0);
      }
    }
  }
}
