.light {
  --main-bg: #f9f9f9;
  --main-bg-1: #f2f2f3;
  --main-point-0: #fff;
  --main-point: #2b3039;
  --main-point-1: #3d434d;
  --main-point-2: #4c5058;
  --main-point-3: #7a818d;
  --main-point-4: #abb1bd;
  --main-point-light: #f5f6f7;
  --main-point-light-1: #e8ebee;
  --main-point-light-2: #c6cbd1;
  --main-point-border: #d0d5da;
  --main-point-border-1: #dde1e6;
  --main-warning: #fd4444;
}

.App {
  background-color: var(--main-bg);
  height: 100vh;
}
