.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: var(--main-bg);
  border: 1px solid var(--main-point-border-1);

  &-wrapper {
    width: 100%;
    max-width: 1400px;
    padding: 1.4rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-logo {
      width: 15rem;
      height: auto;
    }
  }
}
