.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 100;
  backdrop-filter: saturate(200%) blur(10px);
  background-color: var(--main-header);
  border: 1px solid var(--main-point-border-1);

  &-wrapper {
    width: 100%;
    max-width: 1400px;
    padding: 1.2rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-logo {
      height: auto;

      &-image {
        width: 15rem;
        height: auto;
      }
    }
  }
}
