.answer-item {
  border: 1px solid var(--main-point-border);
  border-radius: 0.6rem;
  overflow: hidden;
  margin: 2.2rem 0;

  &-header {
    padding: 0.7rem 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-bg-1);
    border-bottom: 1px solid var(--main-point-border);
    position: relative;

    &-container {
      display: flex;
      align-items: center;

      &-avatar {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        border: 1px solid var(--main-point-border-1);
        margin-right: 0.6rem;
      }

      &-info {
        font-size: 0.955rem;
        font-weight: normal;
        color: var(--main-point-3);

        & > span {
          font-weight: bold;
        }
      }
    }

    &-area {
      display: flex;
      align-items: center;

      &-role {
        padding: 0.3rem 0.7rem;
        border-radius: 1rem;
        background-color: var(--main-point-light-3);
        color: var(--main-point-1);
        font-size: 0.825rem;
      }

      &-more {
        margin-left: 0.6rem;
        cursor: pointer;

        &-icon {
          font-size: 1.525rem;
          height: auto;
          color: var(--main-point-3);

          &:hover {
            color: var(--main-point-5);
          }
        }
      }
    }
  }

  &-wrapper {
    padding: 0.7rem 1.4rem;
    background-color: var(--main-bg);
  }
}
