@import "../../../styles/animations.scss";

.write-question {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  ::selection {
    background-color: var(--main-point-light-3);
  }

  &-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow-y: hidden;

    &-left {
      display: flex;
      flex-direction: column;
      width: 50%;
      height: 100%;
      overflow-y: auto;
      background-color: var(--main-bg);
      @include fade-in;

      &-header {
        width: 100%;
        padding: 3rem 2rem 0;

        &-title {
          width: 100%;
          border: none;
          outline: none;
          background-color: transparent;
          font-weight: bold;
          font-size: 2.225rem;
          color: var(--main-point);
          font-family: inherit;
          resize: none;

          &::placeholder {
            font-weight: bold;
            font-size: 2.225rem;
            color: var(--main-point-5);
            font-family: inherit;
          }
        }

        &-line {
          width: 100%;
          height: 1px;
          margin: 1.5rem 0 3rem;
          background-color: var(--main-point-border-1);
        }

        &-tags {
          display: flex;
          align-items: center;
          flex-wrap: wrap;

          &-list {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            &-item {
              border-radius: 2rem;
              margin: 0 0.6rem 0.6rem 0;
              background-color: var(--main-point-light-1);
              padding: 0.3rem 0.55rem;
              transition: background-color ease 0.1s;
              cursor: pointer;
              @include size-up(0.3);

              &:hover {
                background-color: var(--main-point-light-3);
              }

              &-name {
                font-size: 0.915rem;
                font-weight: normal;
                color: var(--main-point-2);
              }
            }
          }

          &-insert {
            border: none;
            outline: none;
            background-color: transparent;
            font-size: 1.125rem;
            font-weight: normal;
            color: var(--main-point);
            min-width: 12rem;
            margin-bottom: 0.3rem;
            line-height: 2rem;

            &::placeholder {
              font-size: 1.125rem;
              font-weight: normal;
              color: var(--main-point-3);
            }
          }
        }
      }

      &-content {
        display: flex;
        flex: 1 1 0%;
        height: 100%;
        padding: 1.5rem 0;

        &-textarea {
          padding: 0 2rem 1rem;
          width: 100%;
          resize: none;
          border: none;
          outline: none;
          background-color: transparent;
          font-weight: normal;
          font-size: 1.125rem;
          font-family: inherit;
          line-height: 1.7;
          color: var(--main-point);

          &::placeholder {
            font-family: inherit;
            font-weight: normal;
            font-size: 1.125rem;
            color: var(--main-point-3);
            font-style: italic;
          }
        }
      }
    }

    &-right {
      width: 50%;
      height: 100%;
      overflow-y: auto;
      padding: 3rem 2rem 1rem;
      background-color: var(--main-bg);
      border-left: 1px solid var(--main-point-border);

      &-title {
        word-break: break-all;
        font-weight: bold;
        font-size: 2.225rem;
        color: var(--main-point);
        margin-bottom: 2.5rem;
      }
    }
  }

  &-bottom {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 4rem;
    padding: 0 2rem;
    background-color: var(--main-point-light-7);
    border-top: 1px solid var(--main-point-border);

    &-buttons {
      display: flex;

      &-cancel {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.5rem;
        height: 2.5rem;
        border: none;
        outline: none;
        border-radius: 0.4rem;
        background-color: var(--main-point-light-3);
        cursor: pointer;
        margin-right: 1rem;
        transition: all ease 0.1s;

        &:hover {
          background-color: var(--main-point-light-2);
        }

        &-icon {
          font-size: 1.425rem;
          color: var(--main-point);
        }
      }

      &-submit {
        border: none;
        outline: none;
        padding: 0 1.2rem;
        border-radius: 0.4rem;
        background-color: var(--main-point-1);
        cursor: pointer;
        margin-right: 1rem;
        transition: background-color ease 0.1s;

        &:hover {
          background-color: var(--main-point-2);
        }

        &-text {
          font-size: 0.925rem;
          font-weight: normal;
          color: var(--main-point-0);
        }
      }
    }
  }
}

.disable {
  opacity: 0.6;
}
