.header-action {
  display: flex;
  align-items: center;

  &-signin,
  &-signup {
    padding: 0.45rem 0.75rem;
    text-decoration: none;

    &-text {
      font-weight: normal;
      font-family: inherit;
      font-size: 1.025rem;
    }
  }

  &-signin {
    margin-right: 1rem;

    &-text {
      color: var(--main-point-1);
    }
  }

  &-signup {
    cursor: pointer;
    background-color: var(--main-point-1);
    border-radius: 0.4rem;

    &:hover {
      background-color: var(--main-point-2);
    }

    &-text {
      color: var(--main-point-0);
    }
  }
}
