@import "../../../../styles/ellipsis.scss";

.handle-submit-url {
  margin-top: 1.2rem;
  padding-bottom: 0.6rem;
  border-bottom: 1px solid var(--main-point-border-1);

  &-name {
    font-weight: normal;
    font-size: 1.025rem;
    color: var(--main-point-5);
    margin-bottom: 0.8rem;
  }

  &-text {
    font-weight: normal;
    font-size: 1.225rem;
    color: var(--main-point-4);
    @include ellipsis(1);
  }
}
