@import "../../../styles/animations.scss";

.local-auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  @include fade-in-up(7rem, 0rem);

  &-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-text {
      &-title {
        font-size: 2.2rem;
        font-weight: bold;
        color: var(--main-point);
        margin-bottom: 0.6rem;
        word-break: break-all;
        padding-right: 1rem;
      }

      &-subtitle {
        font-size: 1.125rem;
        font-weight: normal;
        color: var(--main-point-2);
      }
    }

    &-avatar {
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
      -webkit-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.08);
      box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.08);
    }
  }

  &-inputs {
    width: 100%;
    margin-top: 2rem;

    &-wrapper {
      margin: 1.2rem 0;

      &-text {
        color: var(--main-point-3);
        font-weight: bold;
        font-size: 0.985rem;
        margin-bottom: 0.7rem;
      }

      &-input {
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
        cursor: text;
        width: 100%;
        outline: none;
        border: 1px solid var(--main-point-border);
        border-radius: 0.6rem;
        background-color: var(--main-point-light);

        &-element {
          width: 100%;
          color: var(--main-point-3);
          font-weight: normal;
          font-size: 1.125rem;
          border: none;
          outline: none;
          padding: 0.7rem 1rem;
          background-color: transparent;

          &::placeholder {
            color: var(--main-point-4);
            font-weight: normal;
            font-size: 1.125rem;
          }
        }

        &-icon {
          font-size: 2.2rem;
          color: var(--main-point-3);
          margin: auto 0.8rem;
        }
      }
    }
  }

  &-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;

    &-submit {
      cursor: pointer;
      outline: none;
      border: none;
      background-color: var(--main-point-1);
      padding: 0.6rem;
      border-radius: 0.6rem;

      &:hover {
        background-color: var(--main-point-2);
      }

      &:hover > &-icon {
        @include floating-side(-0.1rem, 0.1rem);
      }

      &-icon {
        font-size: 2.4rem;
        color: var(--main-point-0);
      }
    }
  }
}
