.tag-item {
  border-radius: 0.4rem;
  margin: 0 0.6rem 0.6rem 0;
  background-color: var(--main-point-light-1);
  padding: 0.3rem 0.55rem;

  &-name {
    font-size: 0.875rem;
    font-weight: normal;
    color: var(--main-point-1);
  }
}
