.header-profile {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;

  &:hover > &-arrow {
    color: var(--main-point-3);
  }

  &-avatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 1px solid var(--main-point-border-1);
    margin-right: 0.6rem;
  }

  &-arrow {
    font-size: 1rem;
    color: var(--main-point-4);
  }
}
